modelAIM_v3/AIM_v3_rv9_XML_beta2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="gme://caCORE.caCORE/3.2/edu.northwestern.radiology.AIM" targetNamespace="gme://caCORE.caCORE/3.2/edu.northwestern.radiology.AIM" elementFormDefault="qualified" version="AIM_v3_rv9_XML_beta">
	
	
	<!--<xs:complexType name="Numerical">
		<xs:complexContent>
			<xs:extension base="CharacteristicQuantification">
				<xs:sequence/>
				<xs:attribute name="ucumString" type="xs:string" use="required"/>
				<xs:attribute name="value" type="xs:double" use="required"/>
				<xs:attribute name="operator" type="ComparisonOperators" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CalculationData">
		<xs:sequence>
			<xs:element name="coordinateCollection">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Coordinate" type="Coordinate" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="cagridId" type="xs:integer" use="required"/>
		<xs:attribute name="value" type="xs:double" use="required"/>
	</xs:complexType>
	<xs:complexType name="ReferencedGeometricShape">
		<xs:sequence/>
		<xs:attribute name="cagridId" type="xs:integer" use="required"/>
		<xs:attribute name="referencedShapeIdentifier" type="xs:integer" use="required"/>
	</xs:complexType>
	<xs:complexType name="AnatomicEntity">
		<xs:sequence>
			<xs:element name="anatomicEntityCharacteristicCollection" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AnatomicEntityCharacteristic" type="AnatomicEntityCharacteristic" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="cagridId" type="xs:integer" use="required"/>
		<xs:attribute name="codeValue" type="xs:string" use="required"/>
		<xs:attribute name="codeMeaning" type="xs:string" use="required"/>
		<xs:attribute name="codingSchemeDesignator" type="xs:string" use="required"/>
		<xs:attribute name="codingSchemeVersion" type="xs:string" use="optional"/>
		<xs:attribute name="annotatorConfidence" type="xs:double" use="optional"/>
		<xs:attribute name="isPresent" type="xs:boolean" use="optional"/>
		<xs:attribute name="label" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="Coordinate">
		<xs:sequence/>
		<xs:attribute name="cagridId" type="xs:integer" use="required"/>
		<xs:attribute name="dimensionIndex" type="xs:integer" use="required"/>
		<xs:attribute name="position" type="xs:integer" use="required"/>
	</xs:complexType>
	<xs:complexType name="AnatomicEntityCharacteristic">
		<xs:sequence>
			<xs:element name="characteristicQuantificationCollection" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CharacteristicQuantification" type="CharacteristicQuantification" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="cagridId" type="xs:integer" use="required"/>
		<xs:attribute name="codeValue" type="xs:string" use="required"/>
		<xs:attribute name="codeMeaning" type="xs:string" use="required"/>
		<xs:attribute name="codingSchemeDesignator" type="xs:string" use="required"/>
		<xs:attribute name="codingSchemeVersion" type="xs:string" use="optional"/>
		<xs:attribute name="annotatorConfidence" type="xs:double" use="optional"/>
		<xs:attribute name="label" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="ImageReference" abstract="true">
		<xs:sequence/>
		<xs:attribute name="cagridId" type="xs:integer" use="required"/>
	</xs:complexType>
	<xs:complexType name="DICOMImageReference">
		<xs:complexContent>
			<xs:extension base="ImageReference">
				<xs:sequence>
					<xs:element name="imageStudy">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="ImageStudy" type="ImageStudy"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="presentationStateCollection" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="PresentationState" type="PresentationState" minOccurs="0" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="WebImageReference">
		<xs:complexContent>
			<xs:extension base="ImageReference">
				<xs:sequence/>
				<xs:attribute name="uri" type="xs:string" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Dimension">
		<xs:sequence/>
		<xs:attribute name="cagridId" type="xs:integer" use="required"/>
		<xs:attribute name="index" type="xs:integer" use="required"/>
		<xs:attribute name="size" type="xs:integer" use="required"/>
		<xs:attribute name="label" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="Image">
		<xs:sequence/>
		<xs:attribute name="cagridId" type="xs:integer" use="required"/>
		<xs:attribute name="sopClassUID" type="xs:string" use="required"/>
		<xs:attribute name="sopInstanceUID" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:element name="AnnotationOfAnnotation" type="AnnotationOfAnnotation"/>
	<xs:complexType name="AnnotationOfAnnotation">
		<xs:complexContent>
			<xs:extension base="Annotation">
				<xs:sequence>
					<xs:element name="referencedAnnotationCollection">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="ReferencedAnnotation" type="ReferencedAnnotation" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>-->
    <xs:complexType name="MultiPoint">
        <xs:complexContent>
            <xs:extension base="GeometricShape">
                <xs:sequence/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
	<xs:complexType name="Point">
		<xs:complexContent>
			<xs:extension base="GeometricShape">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TextAnnotation">
		<xs:sequence>
			<xs:element name="multiPoint" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="MultiPoint" type="MultiPoint" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="cagridId" type="xs:integer" use="required"/>
		<xs:attribute name="font" type="xs:string" use="optional"/>
		<xs:attribute name="fontColor" type="xs:string" use="optional"/>
		<xs:attribute name="fontEffect" type="xs:string" use="optional"/>
		<xs:attribute name="fontSize" type="xs:string" use="optional"/>
		<xs:attribute name="fontStyle" type="xs:string" use="optional"/>
		<xs:attribute name="text" type="xs:string" use="required"/>
		<xs:attribute name="textJustify" type="xs:string" use="optional"/>
		<xs:attribute name="fontOpacity" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="GeometricShape" abstract="true">
		<xs:sequence>
			<xs:element name="spatialCoordinateCollection">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SpatialCoordinate" type="SpatialCoordinate" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="cagridId" type="xs:integer" use="required"/>
		<xs:attribute name="lineColor" type="xs:string" use="optional"/>
		<xs:attribute name="lineOpacity" type="xs:string" use="optional"/>
		<xs:attribute name="lineStyle" type="xs:string" use="optional"/>
		<xs:attribute name="lineThickness" type="xs:string" use="optional"/>
		<xs:attribute name="includeFlag" type="xs:boolean" use="required"/>
		<xs:attribute name="shapeIdentifier" type="xs:integer" use="required"/>
	</xs:complexType>
	
	
	<xs:complexType name="Polyline">
		<xs:complexContent>
			<xs:extension base="GeometricShape">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	
	
	<!--<xs:complexType name="ImagingObservationCharacteristic">
		<xs:sequence>
			<xs:element name="characteristicQuantificationCollection" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CharacteristicQuantification" type="CharacteristicQuantification" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="cagridId" type="xs:integer" use="required"/>
		<xs:attribute name="codeValue" type="xs:string" use="required"/>
		<xs:attribute name="codeMeaning" type="xs:string" use="required"/>
		<xs:attribute name="codingSchemeDesignator" type="xs:string" use="required"/>
		<xs:attribute name="codingSchemeVersion" type="xs:string" use="optional"/>
		<xs:attribute name="comment" type="xs:string" use="optional"/>
		<xs:attribute name="annotatorConfidence" type="xs:double" use="optional"/>
		<xs:attribute name="label" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="Equipment">
		<xs:sequence/>
		<xs:attribute name="cagridId" type="xs:integer" use="required"/>
		<xs:attribute name="manufacturerName" type="xs:string" use="required"/>
		<xs:attribute name="manufacturerModelName" type="xs:string" use="optional"/>
		<xs:attribute name="softwareVersion" type="xs:string" use="optional"/>
	</xs:complexType>-->
	<xs:complexType name="Circle">
		<xs:complexContent>
			<xs:extension base="GeometricShape">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ThreeDimensionSpatialCoordinate">
		<xs:complexContent>
			<xs:extension base="SpatialCoordinate">
				<xs:sequence/>
				<xs:attribute name="x" type="xs:double" use="required"/>
				<xs:attribute name="y" type="xs:double" use="required"/>
				<xs:attribute name="z" type="xs:double" use="required"/>
				<xs:attribute name="frameOfReferenceUID" type="xs:string" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
    <xs:complexType name="SpatialCoordinate" abstract="true">
        <xs:sequence/>
        <xs:attribute name="cagridId" type="xs:integer" use="required"/>
        <xs:attribute name="coordinateIndex" type="xs:integer" use="required"/>
    </xs:complexType>
	<!--<xs:complexType name="NonQuantifiable">
		<xs:complexContent>
			<xs:extension base="CharacteristicQuantification">
				<xs:sequence/>
				<xs:attribute name="codeValue" type="xs:string" use="required"/>
				<xs:attribute name="codeMeaning" type="xs:string" use="required"/>
				<xs:attribute name="codingSchemeDesignator" type="xs:string" use="required"/>
				<xs:attribute name="codingSchemeVersion" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>-->
	
	<xs:complexType name="Ellipse">
		<xs:complexContent>
			<xs:extension base="GeometricShape">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--<xs:complexType name="Person">
		<xs:sequence/>
		<xs:attribute name="cagridId" type="xs:integer" use="required"/>
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="id" type="xs:integer" use="required"/>
		<xs:attribute name="birthDate" type="xs:dateTime" use="optional"/>
		<xs:attribute name="sex" type="xs:string" use="optional"/>
		<xs:attribute name="ethnicGroup" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ImageStudy">
		<xs:sequence>
			<xs:element name="imageSeries">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ImageSeries" type="ImageSeries"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="cagridId" type="xs:integer" use="required"/>
		<xs:attribute name="instanceUID" type="xs:string" use="required"/>
		<xs:attribute name="startDate" type="xs:dateTime" use="required"/>
		<xs:attribute name="startTime" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="PresentationState">
		<xs:sequence/>
		<xs:attribute name="cagridId" type="xs:integer" use="required"/>
		<xs:attribute name="sopInstanceUID" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="Inference">
		<xs:sequence/>
		<xs:attribute name="cagridId" type="xs:integer" use="required"/>
		<xs:attribute name="codeValue" type="xs:string" use="required"/>
		<xs:attribute name="codeMeaning" type="xs:string" use="required"/>
		<xs:attribute name="codingSchemeDesignator" type="xs:string" use="required"/>
		<xs:attribute name="codingSchemeVersion" type="xs:string" use="optional"/>
		<xs:attribute name="annotatorConfidence" type="xs:double" use="optional"/>
		<xs:attribute name="imageEvidence" type="xs:boolean" use="required"/>
	</xs:complexType>
	<xs:element name="ImageAnnotation" type="ImageAnnotation"/>
	<xs:complexType name="ImageAnnotation">
		<xs:complexContent>
			<xs:extension base="Annotation">
				<xs:sequence>
					<xs:element name="segmentationCollection" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Segmentation" type="Segmentation" minOccurs="0" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="imageReferenceCollection">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="ImageReference" type="ImageReference" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="geometricShapeCollection" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="GeometricShape" type="GeometricShape" minOccurs="0" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="person" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Person" type="Person" minOccurs="0"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="textAnnotationCollection" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="TextAnnotation" type="TextAnnotation" minOccurs="0" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>-->
	<xs:complexType name="TwoDimensionSpatialCoordinate">
		<xs:complexContent>
			<xs:extension base="SpatialCoordinate">
				<xs:sequence/>
				<xs:attribute name="imageReferenceUID" type="xs:string" use="required"/>
				<xs:attribute name="referencedFrameNumber" type="xs:integer" use="required"/>
				<xs:attribute name="x" type="xs:double" use="required"/>
				<xs:attribute name="y" type="xs:double" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
